<label class="col-form-label" for="edit">Enter Id : </label> &nbsp;
<input type="number" id="edit" name="edit" maxlength="3" size="50"
    oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)"
    placeholder="Enter Id to search and edit the faculty" [(ngModel)]="Id"> &nbsp;
<button class="btn btn-primary btn-sm" (click)="searchFaculty()">Search</button>

<div *ngIf="object != undefined else firstElseBlock">
    <h6>
        {{object.facultyId}} : {{object.facultyName}} : {{object.facultyMobile}} : {{object.facultyEmail}} :
        {{object.highestQualification}} : {{object.workLocation}}
        <button class="btn btn-primary btn-sm" (click)="toggleEditButton = !toggleEditButton">Edit</button>
    </h6>
</div>

<ng-template #firstElseBlock>
    <div *ngIf="!show else secondElseBlock">
        <h4>Please enter valid Id</h4>
    </div>
</ng-template>

<ng-template #secondElseBlock></ng-template>

<div *ngIf="toggleEditButton">
    <div class="container pt-5">
        <div class="row justify-content-sm-center pt-5">
            <div class="col-sm-6 shadow round pb-3">
                <form [formGroup]="exform" (ngSubmit)="onSubmit(object)">
                    <div class="form-group">
                        <label class="col-form-label">Mobile No. : </label>
                        <input formControlName="facultyMobile" type="text" class="form-control">
                        <small *ngIf="facultyMobile?.invalid && facultyMobile?.touched" class="text-danger">Mobile No.
                            is Required</small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email : </label>
                        <input formControlName="facultyEmail" type="text" class="form-control">
                        <small *ngIf="facultyEmail?.invalid && facultyEmail?.touched" class="text-danger">Email is
                            Required</small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Qualification : </label>
                        <input formControlName="highestQualification" type="text" class="form-control">
                        <small *ngIf="highestQualification?.invalid && highestQualification?.touched"
                            class="text-danger">Qualification is Required</small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Work Location : </label>
                        <input formControlName="workLocation" type="text" class="form-control">
                        <small *ngIf="workLocation?.invalid && workLocation?.touched" class="text-danger"> Work Location
                            is Required</small>
                    </div>
                    <button [disabled]="exform.invalid" type="submit" class="btn btn-primary btn-sm">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>